{% load static %}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/login.css' %}">
<div class="login-wrap">
	<div class="login-html">
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/login.css' %}">


<div class="login">
    <h2 class="active"> <a href="{% url 'sign_in' %}"> Sign in </a></h2>
	<h2 class="active"> <a href="{% url 'login' %}"> Sign up </a></h2>

  <form method="post">
    {% csrf_token %}

    <input type="text" class="text" name="username">
     <span>username</span>
    <br>
    <br>
    <input type="password" class="text" name="password2">
    <span>repeat password</span>
    <br>
    <br>

    <button type="submit" class="button">
      Sign Up
    </button>


    <hr>

    <a href="#">Go back</a>
  </form>
</div>
</div>
</div>